{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>HTML</title>
</head>
<body>
  <p style="background-image: url('orphan.jpg');">
    </p>

  {% block content %}
  <div class="Aboutus">
  <h1> About Us </h1>
	<hr>
	<h5><p>Everything has its own begining and we too!!!</p>
    <p>This  website started with the hope of decreasing the burden carried by the orphan organizations
    And making them somewhat relieved from the struggle to bring the better future 
    This platform is an interface between the donors and the organizations.We provided the platform in such a way that the donors can donate their funds without any little bit of trust issues.
    With this website, the registered organizations are revealed from the burden of time that is being wasted on the journey they travel to collect the donation.
    Now it became so simple ,it's just matter of time now.
    Just do the registeration with proper proofs and details,then it's done
    The donors can see your organization and just by clicking, they can see all the details and can donate</p></h5>
  </div>
  {% endblock %}
</body>
</html>