{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>HTML</title>
</head>
<body>
  {% block content %}
  <div class="services">
	<h1><p>Our mission is to help Orphanages</p></h1>
	<hr>
	<h5><p>Rapid population increase in the number of homeless children and orphans due to several reasons and poverty is a motivating factor to creation of new facilities to accommodate them.
        With this project  the orphanges are made more interactive to the people around them by providing the platform .
        Where this platform,makes the people know about orphanage institutions more considerble way.
        One of the biggest problems of these orphanages is that :</p>
        <p>They lack of manpower to fullfill the needs.
        <p>Gathering the funds and accessories is being the headache for these institutions and orphanges.</p>
       <p>Not only the orphanges but also the people who intiaite to help also having the trouble of finding the needs and locations of those orphanges.
        We are going to make those all easier and simple by providing the orphanges and people a platform.
        These platform provides all the information  about the orphanges,which are regiesterd and these regiestred orphanges are checked and verified as per the rule.
        </p></h5>
  </div>
  {% endblock %}
</body>
</html>